# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bot State and Memories
bot_state*.json
bot_state*.json.tmp
lk_system/live/config.json

# Logs
logs/
lk_system/live/logs/
*.log
*.txt
!requirements.txt

# Caches and Data
data/
candle data/
*.csv
*.rar
*.zip
*.pkl

.gemini/

# Virtual Environments
venv/
env/
ENV/

# OS Files
.DS_Store
Thumbs.db
node_modules/